<style>
    [type="checkbox"].filled-in:not(:checked) + label:after,
    [type="checkbox"].filled-in:not(:checked) + label:before,
    [type="checkbox"].filled-in:checked + label:after,
    [type="checkbox"].filled-in:checked + label:before {
        top: 55px;
    }
    
    .layer {
        position: absolute;
        color: white;
        left: 38px;
        top: 0;
        width: 100px;
        height: 130px;
    }
    
    .true {
        background-color: rgba(0, 255, 0, 0.5);
    }
    
    .false {
        background-color: rgba(255, 0, 0, 0.5);
    }

    .answerContent {
        font-size:43px;
        padding-top:52px;
        padding-left: 12px;
        color: black;
    }

    .questionContent {
        font-size:43px;
        padding-top:17px;
        padding-left: 12px;
        color: black;
    }
</style>


<div class="row" style="margin-bottom:0">
    <div class="col s12">
        <div class="card white">
            <div class="card-content">

                <span class="card-title white-text red" style="padding: 10px;">{{vm.test.testName}}</span>

                <div class="row">
                    <div class="col s12 center-align" ng-show="vm.TestStart">
                        <br /><br /><br />
                        <h4>{{vm.test.testDescription}}</h4>
                        <br />
                        <p>
                            <span class="col s6 right-align" style="margin-top: 10px">Số câu hỏi:</span>
                            <span class="col s3">
                                <select class="browser-default" ng-model="vm.Config.NumberQuestion">
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                </select>
                            </span>
                            <span class="col s3"></span>
                        </p>
                        <br />
                        <br />
                        <br />
                        <p>
                            <span class="col s6 right-align" style="margin-top: 10px">Thời gian trả lời mỗi câu:</span>
                            <span class="col s3">
                                <select class="browser-default" ng-model="vm.Config.TimeQuestion">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                            </span>
                            <span class="col s3"></span>
                        </p>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="col s12">
                            <button class="waves-effect waves-light btn green" ng-click="vm.Start()"><i class="material-icons left">play_arrow</i>Bắt đầu</button>
                            <a class="waves-effect waves-light btn grey" ui-sref="page.test" ui-sref-active="active"><i class="material-icons left">loop</i>Quay lại</a>
                        </div>
                        <br />
                        <br />
                    </div>

                    <div class="col s12" ng-show="vm.CurrentQuestion >= vm.Config.NumberQuestion">
                        <div class="row">
                            <div ng-class="(vm.WrongAnswer.length != 0) ? 'col s12 m6 center-align hoverable' : 'col s12 m12 center-align hoverable'"
                                style="height: 500px">
                                <br />

                                <h5>Bạn đã hoàn thành bài test</h5>
                                <br />
                                <br />

                                <div class="row center-align" style="min-height: 150px">
                                    <div class="green-text">
                                        <i class="material-icons" style="font-size: 9rem">done</i>
                                    </div>
                                </div>
                                <h5>Số câu trả lời đúng: <span class="green-text">{{vm.MarkTrueAnswer}}</span></h5>
                                <h5>Số câu chưa trả lời được: <span class="red-text">{{vm.MarkFalseAnswer}}</span></h5>
                                <br />
                                <br />


                                <div>
                                    <button class="waves-effect waves-light btn green" ng-click="vm.Start()" style="margin-right:15px"><i class="material-icons left">play_arrow</i>Làm lại</button>
                                    <a class="waves-effect waves-light btn grey" ui-sref="page.test" ui-sref-active="active"><i class="material-icons left">loop</i>Thoát</a>
                                </div>

                            </div>
                            <div class="col s12 m6 hoverable" ng-show="vm.WrongAnswer.length != 0">
                                <div class="card light-green darken-1" style="height: 500px">
                                    <div class="card-content white-text" style="padding-top: 18px">
                                        <h5 class="card-title center-align" style="margin: 0 0 18px 0">Những từ chưa thuộc</h5>
                                        <div class="row" style="max-height:420px; overflow: auto; overflow-x: hidden">
                                            <div class="col s3" ng-repeat="alpha in vm.WrongAnswer">
                                                <img ng-src="{{alpha.imageContent}}" class="responsive-img" alt="{{alpha.questionContent}}" />
                                                <span class="alpha-text">{{alpha.questionContent}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>

                    <div class="col s12" ng-show="vm.ShowTest">
                        <div ng-repeat="question in vm.question | startFrom: vm.CurrentQuestion | limitTo:1">
                            <div class="section" style="padding-bottom: 0">
                                <div class="row" style="margin-bottom: 0">
                                    <div class="col s12 m4">
                                        <h5 style="color: #26a69a; margin-bottom: 0">
                                            Câu {{vm.CurrentQuestion + 1}} - ({{vm.CurrentQuestion + 1}}/{{vm.Config.NumberQuestion}})
                                        </h5>
                                    </div>
                                    <div class="col s6 m4 center-align" style="margin-top: 4px">
                                        <a class="btn btn-flat cyan white-text" style="width: 130px; font-size: 20px"><i class="material-icons left">alarm</i>: {{vm.TimerCount >= 0 ? vm.TimerCount : 0}}</a>
                                    </div>
                                    <div class="col s6 m4 right-align" style="margin-top: 10px;">
                                        <p>
                                            <i class="material-icons green-text">done</i><span class="badge-logo green lighten-1 white-text"
                                                style="font-weight: bold; font-size: 16px">{{vm.MarkTrueAnswer}}</span>
                                            <i class="material-icons red-text">clear</i><span class="badge-logo red lighten-1 white-text"
                                                style="font-weight: bold; font-size: 16px">{{vm.MarkFalseAnswer}}</span>
                                        </p>
                                    </div>
                                </div>


                                <div class="progress" style="height: 10px">
                                    <div class="determinate" ng-style="{width: vm.percent}"></div>
                                </div>

                                <!--<button class="waves-effect waves-light btn right" ng-click="vm.PrevQuestion()" ng-disabled="vm.CurrentQuestion == 0"><i class="material-icons left">fast_rewind</i>PREV</button>-->
                            </div>
                            <!--<div class="divider"></div>-->
                            <div class="section" style="min-height: 100px; padding: 0;">
                                <div class="row">
                                    <div class="col s6">
                                        <span ng-show="vm.TestType != 3 && vm.TestType != 4" style="font-size: 20px; font-weight: bold;">
                                            {{question.questionContent}}
                                        </span>
                                        <div class="questionContent" ng-show="vm.TestType == 3 || vm.TestType == 4">{{question.imageContent}}</div>
                                        <!--<img ng-show="vm.TestType == 3 || vm.TestType == 4" class="responsive-img" ng-src="{{question.imageContent}}" style="max-width:100px;margin:2px;border: 2px solid #00ff21">-->
                                    </div>
                                    <div class="col s6 right-align">
                                        <!--<button class="waves-effect waves-light btn" style="margin-bottom: 10px" ng-click="vm.NextQuestion()" ng-disabled="vm.CurrentQuestion >= vm.question.length">
                                            <i class="material-icons left">fast_forward</i>NEXT
                                        </button><br />-->
                                        <button class="btn-floating waves-effect waves-light red" ng-click="vm.ShowConfirm()"><i class="material-icons left">stop</i>Thoát</button>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <div class="row" style="margin-bottom:0">
                                    <div class="col s6" ng-repeat="answer in question.questionAnswer" style="height: 140px">
                                        <input type="checkbox" class="filled-in" id="{{answer.romaji}}" ng-click="vm.CheckAnswer(answer.romaji,question.questionContent, $index)"
                                            ng-disabled="vm.CheckboxChecked || vm.TimerCount < 0" />
                                        <label for="{{answer.romaji}}">
                                            <div class="answerContent">{{vm.TestType%2 == 0 ? answer.hiragana : answer.katakana}}</div>
                                            <span ng-show="(answer.romaji==question.questionContent && vm.CheckboxChecked) ||
                                                           (answer.romaji==question.questionContent && vm.TimerCount < 0) ||
                                                            vm.SelectedIndex==$index"
                                                  ng-class="(answer.romaji==question.questionContent) ? 'layer true' : 'layer false'">
                                                <i class="material-icons left">{{answer.romaji == question.questionContent ? "done" : "clear"}}</i>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>

</div>






<div id="modal-confirm" class="modal red" style="color: white;">
    <div class="modal-content">
        <h4>Bạn có chắc chắn muốn dừng bài Test ở đây?</h4>
        <p></p>
    </div>
    <div class="modal-footer red">
        <button class=" modal-action modal-close waves-effect waves-red btn btn-flat white" style="color:red; margin-left: 7px;"
            ng-click="vm.CloseConfirm()">Không</button>
        <button class=" modal-action modal-close waves-effect waves-red btn btn-flat white" style="color:red" ng-click="vm.ExitTest()">Có</button>
    </div>
</div>